name: test

on:
  pull_request: null
  push:
    branches:
      - master

jobs:
  license-check:
    runs-on: ubuntu-latest
    name: License header check
    steps:
      - uses: actions/checkout@v3
      - run: ./license_check.sh
  fmt-check:
    runs-on: ubuntu-latest
    name: "`gofmt` check"
    steps:
      - uses: actions/checkout@v3
      - uses: Jerome1337/gofmt-action@v1.0.5
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goversion: ['1.21', '1.22']
    name: Go ${{ matrix.goversion }} tests
    env:
      SW_APM_DEBUG_LEVEL: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.goversion }}
      - name: Install dependencies
        run: |
          go get golang.org/x/tools/cmd/cover
          go get github.com/mattn/goveralls
          go install github.com/wadey/gocovmerge@latest
          go get -t -v ./...
      - name: Go vet
        run: go vet ./...
      - name: Run tests
        run: make test
      - uses: dominikh/staticcheck-action@v1.2.0
        if: matrix.goversion == '1.21'
        with:
          install-go: false
          cache-key: ${{ matrix.goversion }}
